body {
    background: hsl(0, 0%, 100%);
    color: #1F2123;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}
/* styles.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #131415;
    color: #fff;
    padding: 0 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.hamburger-icon {
    font-size: 40px;
    color: #00adee;
    margin-right: 10px;
}

.menu-title {
    font-size: 16px;
    color: #00adee;
    font-weight: 600;
    padding-top: 10px;
}
.brand-title {
    font-size: 30px;
    font-weight: 800;
    padding-right: 510px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.newsletter-title {
    font-size: 16px;
    margin-right: 10px;
}

.search-icon {
    font-size: 20px;
    margin-right: 10px;
}

.login,
.subscribe {
    margin-right: 10px;
}

/* Add any additional styling as needed */



.container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 48px;
    padding-left: 18px;
    padding-right: 18px;
}
.category {
    letter-spacing: .075em;
    margin-bottom: 10px;
    display: inline-block!important;
}
.category {
    color: #f5881f;
    display: block;
    font-family: "Gotham A","Gotham B",Helvetica,Arial,sans-serif;
    font-size: 21.6px;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 1.2;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
.container-article.container-article-with-sidebar {
    max-width: none;
}
}

@media (min-width: 992px) {
.container-article.container-article-with-sidebar {
    width: calc(95% - 60px - 84px);
}
}

@media (min-width: 1200px){
.container-article.container-article-with-sidebar .container-article-inner {
    width: 500px;
    }
}
@media (min-width: 1200px){
.container-article.container-article-with-sidebar .container-article-inner {
    width: 600px;
    }
}
@media (min-width: 1200px){
.container-article-inner {
    width: 500px;
    }
}
@media (min-width: 1200px) {
.container-article .container-article-inner {
    width: 600px;
    }
}
@media (min-width: 768px) {
.article .h1, .article h1 {
    font-size: 2.7em;
    letter-spacing: -2px;
    }
}
.article .h1, .article h1, header.article h1 {
    text-transform: none;
}
.title {
    font-weight: 600;
    line-height: .9;
}
header.article .deck {
    display: block;
    font-family: "Gotham A","Gotham B",Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin-top: 17px;
    margin-bottom: 6px;
    font-size: 18px;
}
header.article .byline {
    display: block;
    font-style: italic;
}
header.article .byline a {
    font-weight: 600;
}
a {
    color: #f5881f;
    text-decoration: none;
}
@media (min-width: 768px){
.section, .section+hr {
    margin-bottom: 84px;
    }
}
.article-post {
    font-size: 21px !important;
    width: 500px;
}

@media (min-width: 1200px) {
.container-article.container-article-with-sidebar .container-article-sidebar {
    flex: 0 0 375px;
    margin-left: 36px;
    }
}
@media (min-width: 992px) {
.container-article.container-article-with-sidebar .container-article-sidebar {
    flex: 0 0 300px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18px;
    }
}
.container-article.container-article-with-sidebar .container-article-sidebar {
    flex: 1 1 auto;
    margin-top: 18px;
    margin-bottom: 18px;
}
@media (min-width: 1200px) {
.container-article .container-article-sidebar {
    flex: 0 0 375px;
    margin-left: 36px;
    }
}
@media (min-width: 992px) {
.container-article .container-article-sidebar {
    flex: 0 0 300px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18px;
    }
}
.container-article .container-article-sidebar {
    flex: 1 1 auto;
    margin-top: 18px;
    margin-bottom: 18px;
}
